header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

main {
    padding-top: 106px;
}

#header-top {
    height: 30px;
    background-color: black;
}

#header-top .col-12 {
    height: 30px;
}

#header-top img {
    height: 100%;
}

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
}

img {
    max-width: 100%;
}


.bg-violet {
    background-color: blueviolet;
    /* TOGLIERE L'ALTEZZA, SERVE SOLO PER VISUALIZZARE LE COLONNE */
    border: 2px solid black;
}

#jumbo-secondary {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;

}

#new-games {
    background-color: #1f1f1f;
}

#playstation-plus {
    background-color: #bebcbb;
}

#playstation-now {
    background-color: #161c3b;
}