#header-top{
    height: 30px;
    background-color: black;
}

#jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-size: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.bg-violet{
    background-color: blueviolet;
    /* TOGLIERE L'ALTEZZA, SERVE SOLO PER VISUALIZZARE LE COLONNE */
    height: 50px;
    border: 2px solid black;
}

#jumbo-secondary{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;

}